progress {
	margin-top: 10px;
	display: block;
	-webkit-appearance: none;

}

progress::-webkit-progress-bar {
	background: #757575;
	border-radius: 10px;
	padding: 5px;
}

progress::-webkit-progress-value {
	border-radius: 5px;
	background-color: #000000
}

table {
	font-size: x-large;
	line-height: normal;
}

.col1 {
	text-align: left;
}

.col2 {
	text-align: right;
}
